{
  "plugins": ["prettier-plugin-sql", "prettier-plugin-embed"],
  "embeddedSqlIdentifiers": ["sql"],
  "language": "postgresql",
  "keywordCase": "upper",
  "printWidth": 120,
  "bracketSameLine": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "trailingComma": "es5",
  "semi": true,
  "singleQuote": false
}
